/* .myFade-enter-active,
.myFade-leave-active {
	transition: opacity 0.5s ease;
}

.myFade-enter-from,
.myFade-leave-to {
	opacity: 0;
} */


.myFade-enter-active {
	transition: all 1s ease-out;
}
.myFade-enter-from {
	transform: translateY(100%);
	/* position: absolute;
	top: 100%; */
}
.myFade-enter-to {
	/* position: absolute; */
	top: 180px;
}

.myFade-leave-active {
	position: absolute;
	transition: opacity 0.5s ease-out;
}
.myFade-leave-to {
	position: absolute;
	opacity: 0;
}


/* -------------------------------- */

.mySlide-leave-active,
.mySlide-enter-active {
	transition: 1s;
}
.mySlide-leave-to,
.mySlide-enter-from {
	transform: translateY(100%);
}
